{% extends template.html %}
{% block content %}

          <!--calendar here--> 
          <hr>

          <div class="container">
            <div class="row">
              <div class="col-sm-4 box-border">
                <div class="header">
                <div class="txt-color">
                  <h1 align="left">Notifications
                  </h1>
                </div>
                </div>
              </div>
              <div class="container">
                <div class="notice notice-success">
                    <strong>Notice</strong> notice-success
                </div>
                <div class="notice notice-danger">
                    <strong>Notice</strong> notice-danger
                </div>
                <div class="notice notice-info">
                    <strong>Notice</strong> notice-info
                </div>
                <div class="notice notice-warning">
                    <strong>Notice</strong> notice-warning
                </div>
                <div class="notice notice-warning">
                    <strong>notice</strong> notice-warning
                </div>
                <div class="notice notice-success">
                    <strong>notice</strong> notice-success
                </div>
            </div>
{% endblock %}
